.modificar{
    position: fixed;
    width: 35vw;
    left: 1vw;
    z-index: 500;
    top: 15vh;
    padding: 15px;
    background: #ffffff;
    outline: 5px solid black;
    font-weight: bold;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.modificar > form{
    gap: 20px;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
}

.modificar > img{
    width: 50%;
}

.modificar input[type="text"]{
    width: 100%;
}

.insercion{
    width: 20vw;
    aspect-ratio: 1/1;
    margin-left: auto;
    background: #cbcbcb;
    font-weight: bold;
    gap: 20px;
    align-items: center;
    align-self: flex-start;
    position: fixed;
    top: calc(50% - 20vh);
    left: calc(25% - 20vw);
}

form{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

#tabla{
    position: absolute;
    top: 10px;
    right: 50px;
}

input[type="submit"]{
    border: 2px solid black;
    background: #a99c9c;
    width: 150px;
    aspect-ratio: 2/1;
    transition: 300ms;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover{
    background: #918e8e;
    border-radius: 5px;
    color: white;
}

input[type="file"]{
    background: #3d3d3d;
    color: white;
    cursor: pointer;
    display: flex;
    padding: 5px;
}
input[type="file"]::file-selector-button{
    background: #ffffff;
    border: 2px dashed black;
    font-weight: bold;
    padding: 5px;
}


label{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background: rgba(227, 227, 227, 0.75);
}
table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
}
td,th{
    padding: 5px;
}
td.borrar{
    padding: 0;
    background: red;
}
td.modificado{
    padding: 0;
    background: #65ffe2;
}

thead > tr:first-child{
    font-size: 2rem;
}

thead > tr{
    font-size: 1.3em;
}

td{
    font-family: Arial, sans-serif;
}

td:first-child{
    text-align: center;
    font-weight: bold;
}

button{
    background: none;
    border: none;
    color: #4d0707;
    height: 100%;
    margin: auto;
    font-weight: bold;
    cursor: pointer;
}
.borrar:hover, .borrar:active{
    background: #ff5050;
}
.modificado:hover, .modificado:active{
    background: #c3ffff;
}