form{
    display: flex;
    flex-direction: column;
    width:23vw;
    align-items: center;
    gap: 10px;
    background: rgba(10, 2, 2, 0.81);
    border-radius:15px;
    padding: 20px;
}

button{
    background: #e19543;
    border: 5px #cdd249 solid;
    border-radius: 5px;
    font-weight: bold;
}

button:hover{
    background: #ecba85;
}

button:last-child{
    background: #c23737;
    border-color: #4d0707;
}

button:last-child:hover{
    background: #f57878;
}

body{
    background-color: #ebd85f;
    opacity: 1;
    background-image:  linear-gradient(30deg, #121324 12%, transparent 12.5%, transparent 87%, #121324 87.5%, #121324), linear-gradient(150deg, #121324 12%, transparent 12.5%, transparent 87%, #121324 87.5%, #121324), linear-gradient(30deg, #121324 12%, transparent 12.5%, transparent 87%, #121324 87.5%, #121324), linear-gradient(150deg, #121324 12%, transparent 12.5%, transparent 87%, #121324 87.5%, #121324), linear-gradient(60deg, #12132477 25%, transparent 25.5%, transparent 75%, #12132477 75%, #12132477), linear-gradient(60deg, #12132477 25%, transparent 25.5%, transparent 75%, #12132477 75%, #12132477);
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

header, footer{
    background: rgb(253, 227, 208);
    border-radius:15px;
    padding: 20px;
    margin: 10px 0 30px 0;
}

.productos:not(:empty){
    margin: 1.6vh 0;
    background: #ffcb3a;
    border-radius:15px;
    padding: 20px;
    text-align: center;
    border: black 5px dashed;
}


h1{
    text-align: center;
    margin: 0;
}

h1 > span{
    background: #ea4059;
    text-decoration: underline;
}

button{
    width: 200px;
    height: 60px;
}